# انسخ هذه القيم إلى Environment في Dokploy (أو ملف .env محلي)
DEBUG=False
SECRET_KEY=change-me-to-a-long-random-string
ALLOWED_HOSTS=72.61.107.230,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://72.61.107.230:8000

POSTGRES_DB=farsh
POSTGRES_USER=farsh
POSTGRES_PASSWORD=change-me-strong-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

WEB_CONCURRENCY=3
PORT=8000
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
