# انسخ هذه القيم إلى Environment في تطبيق Dokploy
DEBUG=False
SECRET_KEY=hESsl_kE2IQlOW5hzjlmF-TEVKh42Xdi91i2EBK7HcXGnM4dnTYV5XhZ0a7vVjjxUGw
ALLOWED_HOSTS=72.61.107.230,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://72.61.107.230:8000

DB_ENGINE=mysql
MYSQL_HOST=fresh-freshdba-mxnxze
MYSQL_PORT=3306
MYSQL_DATABASE=f_dba
MYSQL_USER=fuser
MYSQL_PASSWORD=Haro@12345678

WEB_CONCURRENCY=3
PORT=8000
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
